.categorie {
  display: flex;
  flex-direction: column;
  /* width: 15%; */
  width: 213px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 500px;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  color: white;
  background: rgba(68, 181, 84, 0.79);
  padding: 20px;
}

.cat_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat_btn {
  width: 213px;
  height: 45px;

  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
