.searchresult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;

  cursor: pointer;
}

.searchresult :hover {
  opacity: 0.8;
}

.searchresult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchresult_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: space-between;
  padding-left: 20px;
}

.searchresult_heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.info_top {
  width: 40vw;
}

.info_top > h3 {
  font-weight: 30px;
  text-transform: inherit;
  margin: 5px;
}

.info_bottom {
  display: flex;
  justify-content: space-between;
}
.star {
  /* color: red !important; */
  align-items: center;
  display: flex;
}

.searchresult_price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.searchresult_price > p {
  text-align: right;
}

.desc {
  font-size: smaller;
}
